<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Le titre de la page</title>
	<style>
		.CSS{		
		background: blue;
		color: white;
		}
	</style>
</head>

<body>
    <div id="myDiv">
        <p>Un peu de texte <a>et un lien</a></p>
    </div>
	
	<div id="menu">
		<div class="item">
			<span>Élément 1</span>
			<span>Élément 2</span>
		</div>		
		<div class="publicite">
			<span>Élément 3</span>
			<span>Élément 4</span>
		</div>
		
	</div>
<div id="contenu">
    <span>Introduction au contenu de la page...</span>
</div>
<a id="myLink" href="http://www.un_lien_quelconque.com">Un lien modifié dynamiquement</a>

<script>
 /*
	var div = document.getElementById('myDiv');
    alert(div);	
	var divs = document.getElementsByTagName('div');
	for (var i = 0, c = divs.length ; i < c-2 ; i++) {
		alert('Element n° ' + (i + 1) + ' : ' + divs[i]);
} 
*/
	var query = document.querySelector('#menu .item span'),
		queryAll = document.querySelectorAll('#menu .item span');
		link = document.getElementById('myLink'),
		href = link.getAttribute('href'); // On récupère l'attribut « href »
		
	console.log(queryAll[0].innerHTML + ' - ' + queryAll[1].innerHTML); // Affiche : "Élément 1 - Élément 2"
	console.log(href);
	link.setAttribute('href', 'http://www.siteduzero.com'); // On édite l'attribut « href »

	document.getElementById('myDiv').className = 'CSS';  
</script>
</body>
</html>





